<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">   
                        <h5>Great to have you back!</h5>
                    </div>

                    <form action="" method="post">
                        
                        <input type="hidden" name="User" id="input" class="form-control" value="{{lcAuthUser.UserID}}">
                        
                        <button type="submit" class="btn mag-btn mt-30">Register</button>
                            
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>