{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
  $('#txtDOB').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });

  $('#frmRegister').on('submit', function (e) {
    // alert('submit called');
    e.preventDefault();
    // if (validate())
    //   $('#frmRegister').off('submit').submit();
    validate();
  })

  function validate() {
    // ... các lệnh validate khác

    const user = $('#txtUserName').val();
    $.getJSON(`/account/is-available?user=${user}`, function (data) {
      if (data === true) {
        $('#frmRegister').off('submit').submit();
      } else {
        alert('not available');
      }
    })
  }
</script>
{{/section}}

<div class=""></div>
<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <div class="container">
        <div class="row justify-content-center w-100">
            <div class="col-12 col-lg-6">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Great to have you   join with us!</h5>
                    </div>

                    <form method="POST" id="frmRegister">
                        <div class="form-group">
                            <input type="email" class="form-control" id="txtEmail" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtFullname" name="fullname" placeholder="Full name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtPhone" name="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtDOB" name="dob">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtUserName" name="username" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="txtPassword" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                            </div>
                        </div>
                        <button type="submit" class="btn mag-btn mt-30">
                            
                            register
                            
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>