{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
  $('#txtDOB').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });

  $('#frmRegister').on('submit', function (e) {
    // alert('submit called');
    e.preventDefault();
    // if (validate())
    //   $('#frmRegister').off('submit').submit();
    validate();
  })

  function validate() {
    // ... các lệnh validate khác

    const user = $('#txtUsername').val();
    $.getJSON(`/account/is-available?user=${user}`, function (data) {
      if (data === true) {
        $('#frmRegister').off('submit').submit();
      } else {
        alert('not available');
      }
    })
  }
</script>
{{/section}}
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Register</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class=""></div>
<div class="mag-login-area py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Great to have you   join with us!</h5>
                    </div>

                    <form action="" method="POST" id="frmRegister">
                        <div class="form-group">
                            <input type="email" class="form-control" id="txtEmail" placeholder="Email or User Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtFullname" placeholder="Full name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtPhone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtDOB" name="dob" placeholder="Date of birth">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtPassword" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                            </div>
                        </div>
                        <button type="submit" class="btn mag-btn mt-30"><i class="fa fa-check" aria-hidden="true"></i>  Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>