<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SaigonTimes - Video &amp; All aroundthe world</title>

    <!-- Favicon -->
    <link rel="icon" href="/public/img/core-img/title.ico" >

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    {{{_sections.css}}}
</head>

<body>

    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        {{> nav}}
     </header>
        {{> slide}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    <section class="mag-posts-area d-flex flex-wrap">
        

<!-- Modal -->

        {{> left-sidebar}}
        
        {{{body}}}
        {{> right-sidebar}}
    </section>
        

    {{> footer}}

    <!-- jQuery-2.2.4 js -->
    <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/public/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/public/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/public/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/public/js/active.js"></script>
    {{{_sections.js}}}
</body>

</html>