<div class="error-container">
    <h1>You don't have WRITER permission</h1>
    <div class="my-4">
        <a href="/" class="btn btn-primary btn-lg">
        <i class="fa fa-home" aria-hidden="true"></i>
        Take Me Home
        </a>
        <a href="#" class="btn btn-success btn-lg">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        Contact Support
        </a>
    </div>
</div>

<style>
    .error-container {
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
</style>