<div class="hero-area owl-carousel">
        <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(/public/img/bg-img/1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                            <a href="#">MAY 8, 2018</a>
                            <a href="#">lifestyle</a>
                        </div>
                        <a href="#" class="post-title" data-animation="fadeInUp" data-delay="300ms">
                            Party Jokes Startling But Unnecessary
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(/public/img/bg-img/2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                            <a href="#">MAY 8, 2018</a>
                            <a href="#">lifestyle</a>
                        </div>
                        <a href="#" class="post-title" data-animation="fadeInUp" data-delay="300ms">
                            Party Jokes Startling But Unnecessary
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(/public/img/bg-img/3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                            <a href="#">MAY 8, 2018</a>
                            <a href="#">lifestyle</a>
                        </div>
                        <a href="#" class="post-title" data-animation="fadeInUp" data-delay="300ms">
                            Party Jokes Startling But Unnecessary
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>