
<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">

    {{#each this.posts}}

    <div class="BigAvatar">
        <img src="{{BigAvatar}}" alt="error" style="width: 100%;">
    </div>
    <div class="content" id="content">      
        {{{PostContent}}}
    </div>
    {{/each}}
</div>